<div class="container">
  <h1 class="text-center">Ajouter un Restaurant</h1>

  <% if @restaurant.errors.any? %>
    <div class="alert alert-danger">
      <h2>Erreurs :</h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="custom-form">
    <%= simple_form_for @restaurant do |f| %>
      <div class="form-group">
        <%= f.input :name, label: "Nom", input_html: { class: "form-control", placeholder: "Ex : Le Petit Gourmet" } %>
      </div>

      <div class="form-group">
        <%= f.input :address, label: "Adresse", input_html: { class: "form-control", placeholder: "Ex : 10 rue de Rivoli, Paris" } %>
      </div>

      <div class="form-group">
        <%= f.input :phone_number, label: "Téléphone", input_html: { class: "form-control", placeholder: "Ex : 01 23 45 67 89" } %>
      </div>

      <div class="form-group">
        <%= f.input :category, label: "Catégorie", collection: Restaurant::CATEGORIES, prompt: "Sélectionner une catégorie", input_html: { class: "form-select" } %>
      </div>

      <div class="text-center">
        <%= f.submit "Créer", class: "btn btn-primary btn-block mt-3" %>
        <%= link_to "Retour", restaurants_path, class: "btn btn-secondary mt-2" %>
      </div>
    <% end %>
  </div>
</div>
