<div class="container">
  <h1 class="text-center">Ajouter un avis pour <%= @restaurant.name %></h1>

  <% if @review.errors.any? %>
    <div class="alert alert-danger">
      <h2>Erreurs :</h2>
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="custom-form">
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <div class="form-group">
        <%= f.input :content, as: :text, label: "Commentaire", input_html: { rows: 3, class: "form-control", placeholder: "Ex : Super restaurant, service rapide..." } %>
      </div>

      <div class="form-group">
        <%= f.input :rating, as: :integer, label: "Note", input_html: { min: 0, max: 5, step: 1, class: "form-control" } %>
      </div>

      <div class="text-center">
        <%= f.submit "Ajouter l'avis", class: "btn btn-primary btn-block mt-3" %>
        <%= link_to "Retour au restaurant", restaurant_path(@restaurant), class: "btn btn-secondary mt-2" %>
      </div>
    <% end %>
  </div>
</div>
